<!DOCTYPE html> <!-- html:5 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina</title>

    </head>
    <body>

    <h1>louis é lindo</h1>
    <p>5+5 = <%= 5 + 5 %></p> <!-- é resolvido no servidor e depois vai por browser -->

    <p>aperte f5 para gerar um novo numero aleatorio entre 1 e 10: <strong><%= numero %></strong></p> <!-- math.ceil arredonda pra cima e .floor p baixo -->

        <!-- <% if (par) {%>
            <p>o numero é par</p>
        <%} else {%>
            <p>o numero é ímpar</p>
        <% } %> -->

        <p>o numero é <%= par ? 'par' : 'impar' %></p>

    <p>for you i would cross de line<br>
        i would wasted my time<br>
        i would lose my mind<br>
        they said "she goes too far this time"<br>
        don't blame<br>
        love made me crazy<br>
        if doesn't you ain't alright<br>
        lord save me<br>
        my drug is my baby<br>
        i'll be using for the rest of my life<br>
    </p>
    
</body>
</html>